<%- include("partials/header") -%>
<link rel="stylesheet" href="/css/login.css">

<div class="form-signin mb-3">
  <form action="/login" method="POST">
    <h2>Please sign in</h2>
    <div class="form-floating">
      <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
      <label for="emailInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="passwordInput" placeholder="Password">
      <label for="passwordInput">Password</label>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
    
</div>

<%- include("partials/footer") -%>